header {
  text-align: center;
  /* min-height: 100px; */
  background: #bed3d9;
  padding: 20px 0;
  position: relative;
  @include transition(all .5s);
  .name {
    display: inline-block;
    float:left;
  }
  nav {
    float: right;
    li {
      display: inline-block;
      padding: 10px;
      list-style-type: none;
    }
  }
}
